<h1 class="pb-4">About Our Recipe Website</h1>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/about">About</a></li>
    <li class="breadcrumb-item active" aria-current="page">About</li>
  </ol>
</nav>

<div class="about-content">
  <p>
    Welcome to our recipe website! We are dedicated to providing you with a wide variety of delicious recipes from around the world.
  </p>
  <p>
    Here, you can explore different categories of recipes, including Thai, American, Chinese, Mexican, Indian, and more! Our collection is constantly growing, so you'll always find something new to try in your kitchen.
  </p>
  <p>
    Whether you're a seasoned chef or just getting started in the culinary world, our website has something for everyone. Each recipe comes with detailed instructions, a list of ingredients, and beautiful images to guide you throughout the cooking process.
  </p>
  <p>
    We hope you enjoy browsing our recipe collection and find inspiration to create mouthwatering dishes for yourself, your family, and your friends. Happy cooking!
  </p>
</div>
